<!doctype html>
<html>

<head>
  <meta charset='utf-8' />
  <link rel=stylesheet type="text/css" href="/stylesheets/reset.css">
  <link rel=stylesheet type="text/css" href="/stylesheets/calendar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
</head>

<body>
  <header>
      <div class="logo">
        <a href="/"><img src="/images/title.png" /></a>
      </div>
      <nav>
        <div class="item">
          <div class="item_icon">
            <%
            let year = 108;
            let nthGroup = 1;
            if(session.groups.length >= 1){ 
              year = session.groups[0].year;
              nthGroup = session.groups[0].nthGroup;
            }
            %>
              <% if(session.roll==='guest'){ %>
            <a href="/login">
            </a>
            <% }else if(session.roll==='admin'){ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
              <option value="/exhi_info">展覽資訊</option>
              <option value="/statistic">統計分析</option>
              <option value="/uis/logout">登出</option>
            </select>
            <% }else if(session.roll==='teacher'){ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
                            <option value="/user_information">個人資訊</option>
                            <option value="/grade">指導組別</option>
                            <option value="/group_information">組別資訊</option>
                            <option value="/like">收藏</option>
                            <option value="<%= `/note/${year}/${nthGroup}` %>">記事本</option>
                            <option value="<%= `/board/${year}/${nthGroup}` %>">佈告欄</option>
                            <option value="<%= `/calendar/${year}/${nthGroup}` %>">行事曆</option>
                            <option value="/uis/logout">登出</option>
                        </select>
            <% }else{ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
                            <option value="/user_information">個人資訊</option>
                            <option value="/group_information">組別資訊</option>
                            <option value="/like">收藏</option>
                            <% if(session.groups.length==1) { %>
                            <% let {year,nthGroup} = session.groups[0] %>
                            <option value="<%= `/note/${year}/${nthGroup}` %>">記事本</option>
                            <option value="<%= `/board/${year}/${nthGroup}` %>">佈告欄</option>
                            <option value="<%= `/calendar/${year}/${nthGroup}` %>">行事曆</option>
                            <% } %>
                            <option value="/uis/logout">登出</option>
                        </select>
            <% } %>
          </div>
            <% if(session.roll==='guest'){ %>
                <p>訪客</p>
            <% }else{ %>
                <p><%=session.userId%></p>
            <% } %>
            %>
        </div>
      </nav>
  </header>

  <div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>
        <span class="monthYear" style="font-size:18px">7月<br>2020</span>
      </li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
    <li>Sun</li>
  </ul>

  <ul class="days">
    <li>29</li>
    <li>30</li>
    <% for(var i=0; i<=31; i++) { %>
    <li><%= i %></li>
    <% } %>
  </ul>

  <div class="list">
    <div class="list_block">
      29號
    </div>

  </div>
  <div class="data" style="display: none;">
    <div class="nthGroup"><%= nthGroup %></div>
    <div class="year"><%= year %></div>
  </div>
  <script>
    var days = document.querySelectorAll(".days")
    var year = document.querySelector(".year").textContent
    var nthGroup = document.querySelector(".nthGroup").textContent
    // postData('/calender/getCalender?year=' + year+'&nthGroup='+nthGroup)
    //   .then(data => console.log(data)) // JSON from `response.json()` call
    //   .catch(error => console.error(error))
    var list={};

    function postData() {
      // Default options are marked with *
      return fetch('/ics/calendar/getCalendar?year=' + year + '&nthGroup=' + nthGroup, {
          method: 'GET', // *GET, POST, PUT, DELETE, etc.
          mode: 'cors', // no-cors, cors, *same-origin
          redirect: 'follow', // manual, *follow, error
          referrer: 'no-referrer', // *client, no-referrer
        })
        .then(response => {
          for (var i = 0; i < response.length; i++) {
            days[new Date(response[i].date).detDate() + 1].style.backgroundColor = "yellow";
            list[new Date(response[i].date).detDate() + 1] = response[i].content;
          }
        }) // 輸出成 json
    }
    postData();
    var place = document.querySelector(".list_block");
    function display(e) {
      if(list.hasOwnProperty(e.target.textContent)){
        place.innerHTML = e.target.textContent+"號<br>"+list[e.target.textContent];
      }else{
        place.innerHTML = e.target.textContent+"號<br>";
      }
    }
    days.forEach(element => {
      element.addEventListener('click', display, false);
    });
  </script>
</body>

</html>