<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel=stylesheet type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <style>
        .editBoardPage {
            margin: auto;
            /* height:800px; */
            width: 80%;
            display: flex;
            justify-content: center;
            /* align-items: center; */
            /* background-color: blueviolet; */
        }

        table {
            margin: 80px auto;
            padding: 50px;
            width: 450px;
            height: 400px;
            text-align: left;
            vertical-align: bottom;
            /* border:3px #5B5B5B solid; */
        }

        td {
            vertical-align: top;
            /* margin:50px; */
            padding: 20px;
            /* border:3px #5B5B5B solid; */
        }

        .button {
            width: 30%;
            display: flex;
            margin: auto;
            justify-content: space-around;
        }
    </style>
</head>

<body>
    <header>
      <div class="logo">
        <a href="/"><img src="/images/title.png" /></a>
      </div>
      <nav>
        <div class="item">
          <div class="item_icon">
              <% if(session.roll==='guest'){ %>
            <a href="/login">
            </a>
            <% }else if(session.roll==='admin'){ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
              <option value="/exhi_info">展覽資訊</option>
              <option value="/statistic">統計分析</option>
              <option value="/uis/logout">登出</option>
            </select>
            <% }else if(session.roll==='teacher'){ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
                            <option value="/user_information">個人資訊</option>
                            <option value="/grade">指導組別</option>
                            <option value="/group_information">組別資訊</option>
                            <option value="/like">收藏</option>
                            <option value="<%= `/note/${year}/${nthGroup}` %>">記事本</option>
                            <option value="<%= `/board/${year}/${nthGroup}` %>">佈告欄</option>
                            <option value="<%= `/calendar/${year}/${nthGroup}` %>">行事曆</option>
                            <option value="/uis/logout">登出</option>
                        </select>
            <% }else{ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
                            <option value="/user_information">個人資訊</option>
                            <option value="/group_information">組別資訊</option>
                            <option value="/like">收藏</option>
                            <% if(session.groups.length==1) { %>
                            <% let {year,nthGroup} = session.groups[0] %>
                            <option value="<%= `/note/${year}/${nthGroup}` %>">記事本</option>
                            <option value="<%= `/board/${year}/${nthGroup}` %>">佈告欄</option>
                            <option value="<%= `/calendar/${year}/${nthGroup}` %>">行事曆</option>
                            <% } %>
                            <option value="/uis/logout">登出</option>
                        </select>
            <% } %>
          </div>
            <% if(session.roll==='guest'){ %>
                <p>訪客</p>
            <% }else{ %>
                <p><%=session.userId%></p>
            <% } %>
            %>
        </div>
      </nav>
    </header>
    <div class="editBoardPage">
        <table>
            <!-- <tr>
                    <td><font size="5">日期:</font></td>
                    <td><input type="text" name="announceDate" style="font-size: large; width: 250px;"></td>
                </tr> -->
            <!-- <tr>
                    <td><font size="5">發布者:</font></td>
                    <td><input type="text" name="announcer" style="font-size: large; width: 250px;"/></td>
                </tr> -->
            <tr>
                <td>
                    <font size="5">事項:</font>
                </td>
                <td>
                    <textarea rows="5" cols="27" name="announcement" style="font-size: large;"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="button">
        <button type="button" onclick="send()" style="width: 100px; height: 40px;">
            <font size="4">發布</font>
        </button>
        <button type="button" onclick="back()" style="width: 100px; height: 40px;">
            <font size="4">取消</font>
        </button>
    </div>
    <div class="data" style="display: none;">
        <div class="userId"><%= userId %></div>
        <div class="year"><%= year %></div>
        <div class="nthGroup"><%= nthGroup %></div>
        <div class="stickerId"><%= stickerId %></div>
    </div>
    <script>
        var userId = document.querySelector(".userId").textContent
        var year = document.querySelector(".year").textContent
        var nthGroup = document.querySelector(".nthGroup").textContent
        var stickerId = document.querySelector(".stickerId").textContent
        
        function send() {
            var url = '/ics/board/updateSticker';
            var content = document.querySelector(".editBoardPage textarea").value;
            var data = {
            "year": year,
            "nthGroup": nthGroup,
            "stickerId": stickerId,
            "userId": userId,
            "content": content
        }
        console.log(content)
            fetch(url, {
                    method: 'POST', // or 'PUT'
                    body: JSON.stringify(data), // data can be `string` or {object}!
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response => console.log('Success:', response));
            back()
        }

        function back() {
            window.location.href = '/board/'+year+"/"+nthGroup;
        }
    </script>
</body>

</html>