<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/images/title.png" /></a>
      </div>
      <nav>
        <div class="item">
          <div class="item_icon">
              <% if(session.roll==='guest'){ %>
            <a href="/login">
            </a>
            <% }else if(session.roll==='admin'){ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
              <option value="/edit_group_info">組別資訊</option>
              <option value="/notice">通知</option>
              <option value="/exhi_info">展覽資訊</option>
              <option value="/statistic">統計分析</option>
              <option value="/account_manage">帳號管理</option>
              <option value="/uis/logout">登出</option>
            </select>
            <% }else if(session.roll==='teacher'){ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
                            <option value="/user_information">個人資訊</option>
                            <option value="/grade">指導組別</option>
                            <option value="/group_information">組別資訊</option>
                            <option value="/like">收藏</option>
                            <option value="/note">記事本</option>
                            <option value="/board">佈告欄</option>
                            <option value="/calendar">行事曆</option>
                            <option value="/uis/logout">登出</option>
                        </select>
            <% }else{ %>
            <select
              onchange="window.location.href=this.options[this.selectedIndex].value" onfocus="this.selectedIndex = -1;"
            >
                            <option value="/user_information">個人資訊</option>
                            <option value="/group_information">組別資訊</option>
                            <option value="/like">收藏</option>
                            <option value="/note">記事本</option>
                            <option value="/board">佈告欄</option>
                            <option value="/calendar">行事曆</option>
                            <option value="/uis/logout">登出</option>
                        </select>
            <% } %>
          </div>
            <% if(session.roll==='guest'){ %>
                <p>訪客</p>
            <% }else{ %>
                <p><%=session.userId%></p>
            <% } %>
            %>
        </div>
      </nav>
    </header>

    <div class="sidebar_left"></div>
    <div class="sidebar_right">
      <!-- <a class="btn-select" id="btn_select">
        <span class="cur-select"
          >Menu
          <img src="/images/arrow.png" />
        </span>
        <select>
          <option>第一組</option>
          <option>第二組</option>
          <option>第三組</option>
          <option>第四組</option>
          <option>第五組</option>
          <option>第六組</option>
          <option>第七組</option>
          <option>第八組</option>
          <option>第九組</option>
          <option>第十組</option>
        </select>
      </a> -->
    </div>
    <!--<ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
        </ul>-->
    <div class="menu">
        <% exhibitions.forEach(exhi=>{ %>
            <a href=<%= `/?year=${exhi.year}` %> class="<%= (exhi.year===session.year)? 'focuse' : '' %>"><%= exhi.year %>學年度</a>
        <% }); %>
    </div>

    <div class="info_block">
        <h2>資工系<%= session.year%>學年度畢業專題展覽資訊</h2>
        地點：<span><%= currentExhibition.location %></span><br/>
        時間：<span><%= dateFormat(currentExhibition.date, "yyyy-mm-dd")%></span>&nbsp;&nbsp;&nbsp;&nbsp;9:00~17:00<br/>
      <!--<img src="/images/info.png" />-->
    </div>
    <div class="content">
      <% projects.forEach(proj=>{ %>
      <div class="boxes">
        <a href=<%= `/project/${session.year}/${proj.nthGroup}`%>>
          <div class="box">
            <img src="/images/1_group.png" />
            <h1>第<%= proj.nthGroup %>組: <%= proj.topic %></h1>
            <div class="wrap">
              <% proj.tag.forEach(tag=>{ %>
              <p>#<%= tag %></p>
              <% }); %>
            </div>
          </div>
        </a>
      </div>
      <% }); %>
    </div>

    <footer>
      軟工小組: 胡詠翔 鄭日成 許雅玟 吳宛貞 黃怡萍
    </footer>
  </body>
  <script src="/javascripts/home.js"></script>
</html>
